[github]
  user = jweslley
  token = 
[user]
  name = Jonhnny Weslley
  email = jw@jonhnnyweslley.net
[color]
  ui = auto
  sh = auto
[alias]
  amend = commit --amend
[color "sh"]
  branch = yellow
  workdir = blue
  dirty = red
