[github]
  user = jweslley
  token = b10dc20bc2684d8e6ccab60f4d3dfc27
[user]
  name = Jonhnny Weslley
  email = jw@jonhnnyweslley.net
[color]
  ui = auto
  sh = auto
[alias]
  sh = !git-sh
[color "sh"]
  branch = yellow
  workdir = blue
  dirty = red
