[submodule "docs"]
	path = docs
	url = git@github.com:jweslley/dotfiles.wiki.git
[submodule "apps/git-achievements"]
	path = apps/git-achievements
	url = git@github.com:jweslley/git-achievements.git
[submodule "apps/git-extras"]
	path = apps/git-extras
	url = git@github.com:jweslley/git-extras.git
[submodule ".vim/bundle/NERD_tree"]
	path = .vim/bundle/NERD_tree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/NERD_commenter"]
	path = .vim/bundle/NERD_commenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ragtag"]
	path = .vim/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/git"]
	path = .vim/bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ruby"]
	path = .vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/camelcasemotion"]
	path = .vim/bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/css-color"]
	path = .vim/bundle/css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/scratch"]
	path = .vim/bundle/scratch
	url = git://github.com/vim-scripts/scratch-utility.git
[submodule "apps/make-me-free"]
	path = apps/make-me-free
	url = git@github.com:jweslley/make-me-free.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/frogstarb"]
	path = .vim/bundle/frogstarb
	url = git@github.com:jweslley/frogstarb.vim.git
[submodule ".vim/bundle/hexman"]
	path = .vim/bundle/hexman
	url = git://github.com/vim-scripts/hexman.vim.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/R"]
	path = .vim/bundle/R
	url = git://github.com/vim-scripts/R.vim.git
[submodule ".vim/bundle/indent-guides"]
	path = .vim/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/scala"]
	path = .vim/bundle/scala
	url = git://github.com/rosstimson/scala-vim-support.git
