[github]
  user = jweslley

[user]
  name = Jonhnny Weslley
  email = jw@jonhnnyweslley.net

[url "git://github.com/"]
  insteadOf = gh:

[url "git@github.com:jweslley/"]
  insteadOf = jw:

[url "git@bitbucket.org:jweslley/"]
  insteadOf = bb:

[core]
  trustctime = false
  excludesfile = ~/.gitignore
  ;editor = vim.basic -c startinsert

;[init]
  ;templatedir = ~/.git_template

[branch]
  autosetupmerge = true
  autosetuprebase = local

[push]
  default = upstream

[merge]
  tool = vimdiff
  conflictstyle = diff3
  prompt = false

[mergetool]
  keepBackup = false

[rerere]
  enabled = 1

[help]
  autocorrect = 1

[clean]
  requireForce = true

[format]
  ;pretty = %C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[color]
  ui = auto

[color "diff"]
  plain = white dim
  meta = normal dim
  frag = blue bold
  old = red
  new = green
  whitespace = red reverse

[color "status"]
  header = normal dim
  added = green
  changed = yellow
  untracked = cyan

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[alias]
  b = branch
  h = help
  co = checkout
  ls = ls-files

  # git add
  a = number add
  aa = add --all
  ap = add --patch
  ad = !git rm $(git ls-files --deleted)
  ac = !git add $(git ls-files --modified)
  au = !git add $(git ls-files --others --exclude-standard) # add unstaged/untracked files

  # commits
  ci = commit -m
  ca = commit --all -m
  amend = commit --amend

  # diff
  d = diff
  p = diff --cached      # patch
  di = diff --word-diff  # diff inline

  # status and history
  s = number
  rmu = number -"rm -rf"
  l = log --graph --format='%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  so = number checkout

  # topic branches
  t = checkout -b
  m = merge --no-ff

  # misc
  vi = number -vi
