snippet a
	[${1:text}](http://${2:url} "${3:title}")${4}
snippet img
	![${1:alt text}](${2:image.jpg} "${3:title}")${4}
snippet ref
	[${1:id}]: ${2:url} "${3:title}"${4}
snippet code
	<pre${1}><code>${2:code}</pre></code>${3}
snippet h1
	# ${1}
snippet h2
	## ${1}
snippet h3
	## ${1}
snippet h4
	#### ${1}
snippet h5
	##### ${1}
snippet h6
	###### ${1}
snippet strong
	**${1:text}**${2}
snippet em
	*${1:text}*${2}
